<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <script>
        // print the PDB file to a JavaScript variable
        let pdbFile = '...';
        // read the PDB data and store the returned Molecule data structure as the variable, structure
        let structure = ChemDoodle.readPDB(pdbFile);
        let pdb_1bna = null;
        // call the iChemLabs function
        // we will get the structure for 1BNA
        // the 'withAtoms' option states that ligand atoms are to be retained
        ChemDoodle.iChemLabs.getOptimizedPDBStructure('1BNA', {
            'withAtoms': true
        }, function (structure) {
            // set the top pdb_1bna variable to be used later or directly load it into a Canvas
            pdb_1bna = structure;
        });
    </script> -->
    <script>
        // we have our pdb structure loaded by one of the methods from above
        let pdbFile = '...';
        // read the PDB data and store the returned Molecule data structure as the variable, structure
        let structure = ChemDoodle.readPDB(pdbFile);
        let pdb_1bna = null;
        // call the iChemLabs function
        // we will get the structure for 1BNA
        // the 'withAtoms' option states that ligand atoms are to be retained
        ChemDoodle.iChemLabs.getOptimizedPDBStructure('1BNA', {
            'withAtoms': true
        }, function (structure) {
            // set the top pdb_1bna variable to be used later or directly load it into a Canvas
            pdb_1bna = structure;
        });
        // declare our 3D component
        let display3d = new ChemDoodle.TransformCanvas3D('display3d', 400, 400);
        // set the 3D representation for ligand atoms
        display3d.styles.set3DRepresentation('van der Waals Spheres');
        // set the 3D representation for the protein and nucleic acid atoms and set them to be displayed
        // first, create a new Styles object
        let newSpecs = new ChemDoodle.structures.Styles();
        // display these atoms in wireframe
        newSpecs.set3DRepresentation('Wireframe');
        // set the residueSpecs variable for the Canvas3D to bind it
        display3d.residueSpecs = newSpecs;
        // set the original styles to display the protein and nucleic acid atoms and bonds
        display3d.styles.macro_displayAtoms = true;
        display3d.styles.macro_displayBonds = true;
        // load the molecule into the Canvas
        display3d.loadMolecule(pdbStructure);
    </script>
    Hello World 2
</body>

</html>